@import "../common/variables";

@mixin option-common () {
  display: block;
  font-family: $mainfont;
  padding: 2px 11px 0 11px;
  line-height: 30px;
}

@mixin option-hover () {
  background-color: $turquoise-100;
  cursor: pointer;
}

@mixin option-selected () {
  font-weight: 700;
  background-color: transparent;
}

@mixin option-disabled () {
  color: $gray-300;
}
