@import "../common/variables";
@import "arrow";
@import "../common/mixins";

.pagination {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  padding-left: 0;
  list-style-type: none;
}

.pagination__item {
  margin: 0;
  float: left;
  display: block;
  line-height: 2rem;
  font-size: 0.875rem;
  min-width: 1.625rem;
  text-align: center;
}

.pagination__item a:focus {

  @include focusStyle();
}

.pagination__link {
  display: inherit;
  color: $gray-600;
}

.pagination__current {
  font-weight: 700;
}

.pagination__dots {
  color: $gray-300;
}

.pagination__link:hover {
  color: $gray-700;
  text-decoration: none;
}
