@import "../common/variables";
@import "../common/mixins";

.tile {
  font-family: $mainfont;
  appearance: none;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: -moz-block-height;
  border: 1px solid $gray-200;
  white-space: nowrap;
  overflow: hidden;
  appearance: none;
  width: 100%;
  padding: 0;
  background: initial;
  text-align: left;
  text-decoration: none;
  display: block;
}

.tile:hover {
  text-decoration: none;
}

// REVIEW: Groundhog uses box-sizing: border-box project-wide

.tile * {
  /* use border-box for whole button widget to be independent from global box-sizing applied with * selector */
  box-sizing: border-box;
}

.tile:not(:first-of-type) {
  margin-top: 16px;
}

/*
* tile header
*/

.tile__header {
  background-color: $gray-100;
  height: 52px;
  border: 1px solid transparent;
  border-radius: 3;
  border-bottom: none;
  width: 100%;
}

.tile__iconbox {
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid transparent;
  border-bottom: none;
  border-right: none;
  background-color: $turquoise-600;
}


.tile .icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
}

.tile .tile__heading {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: $gray-700;
  margin-left: 63px;
  padding-top: 17px;
  line-height: 0;
}

.tile .tile__subheading {
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  color: $gray-500;
  position: relative;
  margin-left: 63px;
}


.tile__content {
  font-size: 14px;
  color: $gray-700;
  margin: 0;
  padding: 11px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-top: none;
  background-color: #fff;
}


/*
* tile border styling
*/

.tile__iconbox {
  margin: auto;
}

.tile--blue .tile__iconbox {
  background-color: $blue-500;
}

.tile--royalblue .tile__iconbox {
  background-color: $royalblue-500;
}

.tile--purple .tile__iconbox {
  background-color: $purple-600;
}

.tile--error .tile__iconbox {
  background-color: $red-500;
}

.tile--gray .tile__iconbox {
  background-color: $gray-700;
}


/*
* tile hover states
*/


.tile:hover {
  border-color: $turquoise-600;
}


.tile--blue:hover {
  border-color: $blue-500;
}


.tile--royalblue:hover {
  border-color: $royalblue-500;
}


.tile--purple:hover {
  border-color: $purple-600;
}


.tile--error:hover {
  border-color: $red-500;
}


.tile--gray:hover {
  border-color: $gray-700;
}

/*
* disabled styles
*/

.tile[disabled] {
  pointer-events: none;
  border-color: $disabledcolor;
  cursor: default;
  box-shadow: none;
}

.tile[disabled] * {
  color: $gray-300;
}

.tile[disabled] .tile__iconbox {
  background-color: $gray-300;
}
