@import "../common/variables";

.definition-list {
  background-color: #fff;
  font-family: $mainfont;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 22px;
  line-height: -moz-block-height;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.definition-list dt {
  width: 100%;
  padding-right: 3px;
  font-size: 12px;
  color: $gray-500;
  display: inline;
  position: relative;
  background-color: inherit;
  z-index: 1;
}

.definition-list dd + dd {
  margin-top: 8px;
}

.definition-list dd {
  padding-left: 8px;
  position: relative;
  display: block;
  text-align: right;
  margin-top: -22px;
  padding-bottom: 20px;
  right: 0;
  z-index: 0;
  text-shadow:
    1px 2px 2px #fff,
    2px 2px 2px #fff,
    3px 2px 2px #fff,
    4px 2px 2px #fff,
    5px 2px 2px #fff,
    6px 2px 2px #fff,
    -1px 2px 1px #fff,
    -2px 2px 1px #fff,
    -3px 2px 2px #fff,
    -4px 2px 2px #fff,
    -5px 2px 2px #fff,
    -6px 2px 2px #fff;
}

.definition-list dd:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  display: inline;
  overflow: hidden;
  height: 1em;
  margin-top: 1px;
  margin-left: -20px;
  border-bottom: 1px dotted $gray-300;
  z-index: -2;
}
