@import "../common/variables";
@import "../common/mixins";

.datepicker {
  position: relative;

  .btn--datepicker {
    border: 1px solid $gray-300;
    background-color: $white;
    margin: 0;
    color: $turquoise-600;

    .icon {
      fill: $turquoise-600;
    }
  }
}

.btn--datepicker {
  border: 1px solid $gray-300;

  .icon {
    fill: $turquoise-600;
  }
}

.btn--datepicker:hover {
  border-color: $gray-400;
}

.datepicker__calendar {
  display: none;
  position: absolute;
  background-color: $white;
  border: 1px solid $gray-300;
  padding: 12px;
  border-radius: 3px;
  border-top-left-radius: 0;
  top: 31px;
  left: 0;
  z-index: 9999;
}

.btn--datepicker__selectMonth {
  border: none;
  width: 32px;
  height: 32px;
  padding: 6px;
  fill: $turquoise-600;
  padding: 2px 6px;

  .icon {
    fill: $turquoise-600;
  }
}

.btn--datepicker__selectMonth:hover {
  background-color: $gray-130;

  .icon {
    fill: $turquoise-700;
  }
}

.datepicker th {
  font-size: 12px;
  font-weight: 400;
  color: $gray-500;
  line-height: 32px;
}

.datepicker td {
  text-align: center;
}

.datepicker td button {
  font-size: 14px;
  font-family: $mainfont;
  color: $gray-700;
  border: none;
  width: 32px;
  height: 32px;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 0;
  margin: 2px;
}

.datepicker td button:hover:not([disabled]) {
  cursor: pointer;
  border: 1px solid $turquoise-600;
  background-color: $gray-100;
}

.datepicker td button:active,
.datepicker .btn--selected {
  border-color: $turquoise-800;
  background-color: $gray-100;
}

.datepicker td button:disabled {
  color: $gray-300;
}

.datepicker td .btn--selected:disabled {
  border-color: $gray-300;
}

.datepicker td button:focus {

  @include focusStyle();
}

.datepicker.is-active .btn--datepicker {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.datepicker.is-active .datepicker__calendar {
  display: block;
}

.datepicker__month {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
