@import "../common/variables";

$img-width: 500px;

.caption {
  color: $gray-500;
  font-size: 0.9rem;
  line-height: 1.6rem;
  padding-top: 0.3rem;
}

/*
* image container width can be easily overridden by your personal stylesheet
*/
.img-container {
  margin: 0;
  padding: 0;
  width: $img-width;
}
