@import "../common/variables";
@import "../common/label";

.progressbar {
  position: relative;
  background-image: none;
  border: none;
  width: 100%;
  height: 4px;
  border: none;
  background-color: $turquoise-200;
  color: $turquoise-400;
}

.progressbar::-ms-fill {
  border: none;
}

.progressbar[value]::-webkit-progress-bar {
  background-color: $turquoise-200;
}

.progressbar[value]::-webkit-progress-value {
  background-color: $turquoise-400;
}

.progressbar[value]::-moz-progress-bar {
  background-color: $turquoise-400;
}

@mixin progressbar-theme($value-color, $bar-color) {

  .progressbar {
    background-color: $bar-color;
    color: $value-color;
  }

  .progressbar[value]::-webkit-progress-bar {
    background-color: $bar-color;
  }

  .progressbar[value]::-webkit-progress-value {
    background-color: $value-color;
  }

  .progressbar[value]::-moz-progress-bar {
    background-color: $value-color;
  }
}

.theme--blue {

  @include progressbar-theme($blue-400, $blue-200);
}

.theme--purple {

  @include progressbar-theme($purple-400, $purple-200);
}

.theme--royalblue {

  @include progressbar-theme($royalblue-400, $royalblue-200);
}

.theme--green {

  @include progressbar-theme($green-400, $green-200);
}
