@import "../common/variables";
@import "../common/nav";
@import "../common/mixins";
@import "../expandable/expandable";

.nav {
  display: block;
  height: $nav-line-height;
  background-color: $nav-primary-background;
  position: relative;
}

/*
* Nav bars
*/

.nav__bar {
  position: absolute;
  z-index: 10;
  width: 0;
  overflow: hidden;
  top: 0;
  right: 0;
  padding-top: $nav-line-height;
  background-color: $nav-primary-background;
  transition: width 125ms ease-out;
}

.nav__bar.is-active {
  width: 100%;
}

@media (min-width: $nav-breakpoint) {

  .nav {
    height: $nav-height;
    background-color: $nav-secondary-background;
  }

  .nav.has-no-secondary {
    height: $nav-line-height;
    background-color: $nav-primary-background;
  }

  .nav__bar {
    position: relative;
    overflow: visible;
    width: auto;
    padding-top: 0;
    transition: none;
  }

  .nav__bar.is-active {
    width: auto;
  }
}

/*
* Brand logo
*/

.nav__brand {
  position: absolute;
  z-index: 12;
  top: 0.7rem;
  left: 1.55rem;
  width: 7rem;
}

.nav__logo {
  max-width: 100%;
}

/*
* Nav lists & items
*/

.nav__list {

  @include list-reset();
  margin: 0;
}

.nav__item {
  margin: 0;
  white-space: nowrap;
}

.nav__link {
  color: $gray-200;
  text-decoration: none;
  outline: 0;
  display: block;
  padding: 0.5rem 1rem;
}

.nav__link:visited {
  color: $gray-200;
}

.nav__link.expandable__trigger {
  padding-left: 32px; /* see expandable.scss */
}

.nav__link:hover {
  color: #fff;
  text-decoration: none;
}

.nav__list--primary > .nav__item:not(.expandable).is-current,
.nav__list--secondary > .nav__item.is-current {
  background-color: $nav-current-mobile;
}

.nav__list--secondary .nav__link {
  padding-left: 50px;
}

@media (min-width: $nav-breakpoint) {

  .nav__list {
    display: flex;
  }

  .nav__item,
  .nav__link {
    line-height: 1em;
    height: $nav-line-height;
  }

  .nav__link {
    padding: 0.85rem 1.5rem;
  }

  /* Primary nav */

  .nav__list--primary {
    justify-content: flex-start;
    align-items: center;
    height: $nav-line-height;
    padding-left: 9.3rem;
    overflow: hidden;
  }

  .nav__list--primary > .nav__item {
    position: static;
  }

  .nav__list--primary > .nav__item.is-current,
  .nav__list--primary > .nav__item:not(.expandable).is-current {
    background-color: $nav-primary-current;
  }

  .nav__list--primary > .nav__item .nav__link {
    padding-left: 1.5rem;
  }

  .nav__list--primary > .nav__item .nav__link:hover {
    background-color: $nav-primary-current;
  }

  /* Secondary nav */

  .nav__list--secondary {
    display: none;
    position: absolute;
    left: 0;

    .nav__item.is-current .nav__link {
      border-bottom: 4px solid $turquoise-500;
      background-color: $nav-secondary-background;
    }

    .nav__link:hover {
      border-bottom: 2px solid $turquoise-500;
    }
  }

  /* pull nav item right */
  .nav__list > .nav__item--right {
    margin-left: auto;

    & ~ .nav__item--right {
      margin-left: 0;
    }
  }

  .is-current > .nav__list--secondary {
    display: flex;
  }
}

/* nav modifier */

.nav__bar.is-active .nav__list {
  background-color: $nav-primary-current;
}

@media (min-width: $nav-breakpoint) {

  .nav__bar.is-active .nav__list--primary {
    background-color: $nav-primary-background;
  }
}

/*
* Nav buttongroup:
* Search, CTA, Menu toggle
*/

.nav__buttongroup {
  position: absolute;
  bottom: 0;
  right: 0;
  height: $nav-line-height;
  display: flex;
  justify-content: flex-end;
  z-index: 12;
}

.nav__btn {
  color: #fff;
  font-size: 1em;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: $nav-line-height;
  height: $nav-line-height;
  padding: 0 1.5rem;
  vertical-align: top;
  display: inline-block;
}

.nav__btn:visited {
  color: #fff;
  background-color: transparent;
}

.nav__btn:hover {
  color: #fff;
  background-color: $nav-primary-hover;
  text-decoration: none;
}

.nav__btn--cta {
  display: none;
  background-color: $green-500;
  white-space: nowrap;
}

.nav__btn--cta:hover {
  background-color: $green-600;
}

.nav__btn:focus,
.nav__btn--cta:focus,
.nav__link:focus {

  @include focusStyle();
}

@media (min-width: $screen-sm) {

  .nav__btn--cta {
    display: inline-block;
  }
}

@media (min-width: $nav-breakpoint) {

  .nav__btn--menutoggle {
    display: none;
  }
}

/*
* Search
*/

.nav__buttongroup form {
  display: none;
}

.nav__buttongroup .nav__search {
  position: relative;
  background-color: transparent;
  color: transparent;
  border: none;
  height: $nav-line-height;
  border-radius: 0;
  width: 40px;
  transition: width 150ms, background-color 150ms, background-position 0.25s ease-in-out;
}

.nav__buttongroup .nav__search::placeholder {
  color: transparent;
}

.nav__search__icon {
  content: " ";
  display: inline-block;
  width: 44px;
  height: 44px;
  position: relative;
  background-image: url(/assets/images/icons/Icons_file_002_Search_Magnifying_glass.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.nav__search__icon:hover {
  background-color: $nav-primary-hover;
}

@media (min-width: $nav-search-to-icon-breakpoint) {

  .nav__buttongroup form {
    display: inline-block;
  }

  .nav__search__icon {
    display: none;
  }
}

.nav__buttongroup .nav__search:hover {
  background-color: $nav-secondary-hover;
  width: $nav-search-width;
  color: #fff;
}

.nav__buttongroup .nav__search:focus,
.nav__buttongroup .nav__search.has-focus {
  background-color: $nav-secondary-hover;
  width: $nav-search-width;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.nav__buttongroup .nav__search:hover::placeholder,
.nav__buttongroup .nav__search:focus::placeholder {
  color: $gray-500;
}

.nav__search:not(.has-focus) ~ ul {
  display: none;
}

.nav__search ~ ul {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 0 12px 0;
  background-color: $nav-secondary-hover;
  list-style: none;
  line-height: 32px;
  max-width: $nav-search-width;
}

.nav .search__results a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav .search__results a:hover,
.nav .search__results a:focus {
  outline: none;
  background-color: $gray-640;
}
