@import "../common/variables";
@import "../common/mixins";

$nav-primary-background: $gray-860;
$nav-secondary-background: $gray-700;
$nav-primary-active: $gray-700;
$nav-secondary-active: $gray-620;

$nav-height: 5.5rem;
$nav-line-height: 2.75rem;

$nav-breakpoint: 980px !default;

$nav-search-width: 200px !default;
$nav-search-results-width: 276px !default;
$nav-search-to-icon-breakpoint: 560px !default;

.nav {
  display: block;
  height: $nav-line-height;
  background-color: $nav-primary-background;
  position: relative;
}

/*
* Nav bars
*/

.nav__bar {
  position: absolute;
  z-index: 10;
  width: 0;
  overflow: hidden;
  top: 0;
  right: 0;
  padding-top: $nav-line-height;
  background-color: $nav-primary-background;
  transition: width 125ms ease-out;
}

.nav__bar.is-active {
  width: 100%;
}

@media (min-width: $nav-breakpoint) {

  .nav {
    height: $nav-height;
    background-color: $nav-secondary-background;
  }

  .nav.has-no-secondary {
    height: $nav-line-height;
    background-color: $nav-primary-background;
  }

  .nav__bar {
    position: relative;
    overflow: visible;
    width: auto;
    padding-top: 0;
    transition: none;
  }

  .nav__bar.is-active {
    width: auto;
  }

  .nav.hide-brand .nav__brand {
    display: none;
  }
}

/*
* Brand logo
*/

.nav__brand {
  position: absolute;
  z-index: 12;
  top: 0.7rem;
  left: 0.75rem;
  width: 7rem;
}

.nav__logo {
  max-width: 100%;
}

.nav__brand:focus {
  background-color: $gray-700;
}

/*
* Nav lists & items
*/

.nav__list {

  @include list-reset();
  margin: 0;
}

.nav__item {
  margin: 0;
  white-space: nowrap;
}

.nav__link,
.nav__link:visited {
  color: $gray-200;
  text-decoration: none;
  outline: 0;
  display: block;
  padding: 0.5rem 1rem;
}

.nav__link:hover,
.nav__link:focus {
  color: #fff;
  text-decoration: none;
}

/* Primary nav */

.nav__list--primary > .nav__item {

  position: relative;

  &.is-current {
    background-color: $nav-primary-active;
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    background-image: url(/assets/images/icons/icons_controls_001_DropDownOpen.svg);
    background-size: 1em;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 20px;
    transform: translate(0, -50%) rotate(-90deg);
    transition: transform 0.3s ease;
  }

  &.is-current:before {
    transform: translate(0, -50%) rotate(0);
  }

  .nav__link {
    padding-left: 40px;
  }
}

/* Secondary nav */

.nav__list--secondary > .nav__item {

  &.is-current {
    background-color: $nav-secondary-active;
  }

  .nav__link {
    padding-left: 70px;
  }
}

@media (min-width: $nav-breakpoint) {

  .nav__list {
    display: flex;
  }

  .nav__item,
  .nav__link {
    line-height: 1em;
    height: $nav-line-height;
  }

  .nav__link {
    padding: 0.85rem 1.5rem;
  }

  /* Home item */
  .nav__item--home .nav__link {
    background-image: url(http://assets.dynatrace.com/global/logos/dynatrace-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 10rem;
    text-indent: -99999px;
  }

  /* Primary nav */

  .nav__list--primary {
    justify-content: flex-start;
    align-items: center;
    height: $nav-line-height;
    padding-left: 8.5rem;

    > .nav__item {

      position: static;

      &:before {
        display: none;
      }

      .nav__link {
        padding-left: 1.5rem;
      }

      > .nav__link:hover {
        background-color: $gray-700;
      }
    }
  }

  /* Secondary nav */

  .nav__list--secondary {
    position: absolute;
    left: 0;

    .nav__item.is-current {
      border-bottom: 4px solid $turquoise-400;
      background-color: inherit;
    }
  }

  /* pull nav item right */
  .nav__list > .nav__item--right {
    margin-left: auto;

    & ~ .nav__item--right {
      margin-left: 0;
    }
  }

  .nav__item--right .nav__link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* nav modifier */

.nav.hide-brand .nav__list {
  padding-left: 0;
}

.nav__bar.is-active .nav__list {
  background-color: $nav-primary-active;
}

/*
* Nav buttongroup:
* Search, CTA, Menu toggle
*/

.nav__buttongroup {
  position: absolute;
  bottom: 0;
  right: 0;
  height: $nav-line-height;
  display: flex;
  justify-content: flex-end;
  z-index: 12;
}

.nav__btn,
.nav__btn:visited {
  color: #fff;
  font-size: 1em;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: $nav-line-height;
  height: $nav-line-height;
  padding: 0 1rem;
  vertical-align: top;
  display: inline-block;
}

.nav__btn:hover,
.nav__btn:focus {
  color: #fff;
  background-color: $gray-700;
  text-decoration: none;
}

.nav__btn--cta {
  display: none;
  background-color: $green-500;
  white-space: nowrap;
}

.nav__btn--cta:hover,
.nav__btn--cta:focus {
  background-color: $green-600;
}

@media (min-width: $screen-sm) {

  .nav__btn--cta {
    display: inline-block;
  }
}

@media (min-width: $nav-breakpoint) {

  .nav__btn--menutoggle {
    display: none;
  }
}

/*
* Search
*/

.nav__buttongroup form {
  display: none;
}

.nav__buttongroup .nav__search {
  position: relative;
  background-color: transparent;
  border: none;
  height: $nav-line-height;
  border-radius: 0;
  color: #fff;
  width: $nav-search-width;
}

.nav__search__icon {
  content: " ";
  display: inline-block;
  width: 44px;
  height: 44px;
  position: relative;
  background-image: url(/assets/images/icons/Icons_file_002_Search_Magnifying_glass.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.nav__search__icon:hover {
  background-color: $gray-700;
}

@media (min-width: $nav-search-to-icon-breakpoint) {

  .nav__buttongroup form {
    display: inline-block;
  }

  .nav__search__icon {
    display: none;
  }
}

.nav__buttongroup .nav__search:hover {
  background-color: $gray-620;
}

.nav__buttongroup .nav__search:focus {
  background-color: $gray-620;
  outline: none;
  box-shadow: none;
}

.nav .search__results.is-active {
  position: relative;
  margin: 0;
  padding: 12px 0 12px 0;
  background-color: $gray-620;
  list-style: none;
  line-height: 32px;
  max-width: $nav-search-width;
}

.nav .search__results a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav .search__results a:hover {
  background-color: $gray-600;
}
