@import "../common/variables";
@import "../common/mixins";

$nav-link-color: $gray-100;
$nav-primary-background: $gray-860;
$nav-secondary-background: $gray-900;

$nav-height: 2.75rem;
$nav-height-secondary: 1.5rem;

$nav-breakpoint: 980px;

$nav-search-width: 200px;
$nav-search-results-width: 276px;

.nav {
  display: block;
  height: $nav-height;
  background-color: $nav-primary-background;
  position: relative;
}

.nav.has-no-secondary {
  height: $nav-height;
}

/*
* nav bars
*/

.nav__bar {
  position: absolute;
  z-index: 10;
  width: 0;
  overflow: hidden;
  top: 0;
  right: 0;
  padding-top: $nav-height;
  background-color: $nav-primary-background;
  transition: width 125ms ease-out;
}

.nav__bar.is-active {
  width: 15rem;
}

@media (min-width: $nav-breakpoint) {

  .nav__bar {
    position: relative;
    overflow: visible;
    width: auto;
    padding-top: 0;
    transition: none;
    height: $nav-height + $nav-height-secondary;
  }

  .nav__bar.is-active {
    width: auto;
  }
}

/*
* nav lists
*/

.nav__list {

  @include list-reset();
  margin: 0;
}

.nav__list + .nav__list {
  border-top: 1px solid $gray-300;
}

@media (min-width: $nav-breakpoint) {

  .nav__list {
    display: flex;
  }

  .nav__list--primary {
    order: 2;
    justify-content: flex-start;
    align-items: center;
    height: $nav-height;
    padding-left: 8.5rem;
    position: absolute;
    top: $nav-height-secondary;
  }

  .nav__list--secondary {
    order: 1;
    border-top: 0;
    background-color: $nav-secondary-background;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    min-width: 100%;
    height: $nav-height-secondary;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .nav__list + .nav__list {
    border-top: 0;
  }
}

/*
* nav list item
*/

.nav__item {
  margin: 0;
}

@media (min-width: $nav-breakpoint) {

  .nav__item {
    line-height: 1em;
  }
}

/*
* navigation link item
*/

.nav__link,
.nav__link:visited {
  color: $gray-200;
  text-decoration: none;
  outline: 0;
  display: block;
  padding: 0.5rem 1rem;
}

.nav__link:hover,
.nav__link:focus {
  color: #fff;
  background-color: $gray-700;
  text-decoration: none;
}

.nav__link--secondary {
  font-size: 0.8rem;
}

@media (min-width: $nav-breakpoint) {

  .nav__link {
    padding: 0.85rem 0.5rem;
  }

  .nav__link--secondary {
    padding: 0.25rem 0.5rem;
    display: inline-block;
  }
}

/*
* Toggle for mobile nav
*/

.nav__btn,
.nav__btn:visited {
  color: #fff;
  font-size: 1em;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: $nav-height;
  height: $nav-height;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
  display: inline-block;
}

.nav__btn:hover,
.nav__btn:focus {
  color: #fff;
  background-color: $gray-700;
  text-decoration: none;
}

.nav__btn--cta {
  background-color: $green-500;
}

.nav__btn--cta:hover,
.nav__btn--cta:focus {
  background-color: $green-600;
}

@media (min-width: $nav-breakpoint) {

  .nav__btn--menutoggle {
    display: none;
  }
}

/*
* nav right button group
*/

.nav__buttongroup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;

  form {
    display: inline-block;
  }
}

/*
* search
*/

.nav__buttongroup .nav__search {
  position: relative;
  background-color: transparent;
  border: none;
  height: $nav-height;
  border-radius: 0;
  color: #fff;
  width: $nav-search-width;
}

.nav__buttongroup .nav__search:hover {
  background-color: $gray-700;
}

.nav__buttongroup .nav__search:focus {
  background-color: $gray-700;
  outline: none;
  box-shadow: none;
}

.nav .search__results.is-expanded {
  position: relative;
  margin: 0;
  padding: 12px 0 12px 0;
  background-color: $gray-700;
  list-style: none;
  line-height: 32px;
  max-width: $nav-search-width;
}

.nav .search__results a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav .search__results a:hover {
  background-color: $gray-640;
}

.nav__cta {
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 1rem;
  vertical-align: top;
  border-radius: 0;
}

.nav__cta {
  color: #fff;
}

.expandable__content {
  color: #fff;
  list-style: none;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 11px;

  li:hover {
    background-color: $gray-600;
  }
}

.expandable__content.is-expanded {
  z-index: 10;
  max-width: $nav-search-results-width;
  display: block;
  position: absolute;
  right: 0;
  margin-top: 44px;
  width: 100%;
  background-color: $nav-primary-background;
}

@media (min-width: $nav-breakpoint) {

  .nav__buttongroup {
    margin-top: $nav-height-secondary;
  }
}


/*
* Brand logo
*/

.nav__brand {
  position: absolute;
  z-index: 12;
  top: 0.7rem;
  left: 0.75rem;
  width: 7rem;
}

.nav__logo {
  max-width: 100%;
}

.nav__brand:focus {
  background-color: $gray-700;
}

@media (min-width: $nav-breakpoint) {

  .nav__brand {
    padding-right: 0;
    top: 2.25rem;
  }

  .has-no-secondary {

    > .nav__bar {
      height: 2.75rem;
    }

    > .nav__brand {
      top: 0.7rem;
    }

    .nav__list {
      top: 0;
    }
  }
}

/** no-secondary-fix **/

@media (min-width: $nav-breakpoint) {

  .has-no-secondary > {

    .nav__buttongroup {
      margin-top: 0;
    }
  }
}
