@import "../common/variables";

$includedExpandable: false !default;

@if ($includedExpandable == false) {

  .expandable {

  }

  .expandable--separated {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: border-color 100ms ease-out;
  }

  .expandable__content {
    display: none;
  }

  .expandable__trigger {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    text-decoration: none;
    color: $turquoise-600;
    line-height: 2;
  }

  .expandable__trigger--right {
    padding-left: 0;
    padding-right: 32px;
  }

  .expandable__trigger:before {
    content: " ";
    position: absolute;
    background-image: url(/assets/images/icons/dropdown_open.svg);
    background-size: 1em;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(0);
    transition: transform 0.3s ease;
  }

  .expandable__trigger--right:before {
    left: auto;
    right: 0;
  }

  .expandable__trigger:hover {
    text-decoration: none;
    color: $turquoise-700;
  }

  .expandable.is-active .expandable__trigger:before {
    transform: translate(0, -50%) rotate(180deg);
  }

  .expandable.is-active .expandable__content {
    display: block;
  }

  .expandable--separated.is-active {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $turquoise-600;
  }

  .expandable--separated.is-active + .expandable--separated.is-active {
    border-top-color: transparent;
  }

  $includedExpandable: true;

}
