@import "../common/variables";
@import "../common/nav";
@import "../common/mixins";
@import "../expandable/expandable";

.subnav {
  overflow: hidden;
  z-index: 8;
}

.subnav__bar {
  display: block;
  width: 100%;
  background-color: $turquoise-700;
}

.subnav__list {

  @include list-reset();
  margin: 0;
}

.subnav__item {
  margin: 0;
  white-space: nowrap;
}

.subnav__item.is-current {
  background-color: $turquoise-600;
}

.subnav__link,
.subnav__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  padding: 0.5rem 1.5rem;
  border: 2px solid transparent;
}

.subnav__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: $turquoise-500;
}

.subnav__link:active,
.subnav__link:focus:active {
  border: 2px solid transparent;
}

.subnav__link:focus {
  border: 2px solid $gray-300;
}

.expandable--nav .subnav__link {
  padding-left: 32px; /* same as expandable trigger padding */
}

@media (min-width: $nav-breakpoint) {

  .subnav {
    height: $subnav-height;
  }

  .subnav__list {
    display: flex;

  }

  .subnav__item.is-current {
    background-color: transparent;
  }

  .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid $turquoise-300;
  }

  .subnav .subnav__link {
    height: $subnav-height;
    line-height: $subnav-height;
    padding: 0 1.5rem;
  }

  .subnav__link:hover,
  .subnav__link:active,
  .subnav__link:focus:active {
    background-color: transparent;
    border-bottom: 2px solid $turquoise-300;
  }
}


@mixin subnav-theme($bg-color, $active-color, $hover-color, $border-color) {

  .subnav__bar {
    background-color: $bg-color;
  }

  .subnav__item.is-current {
    background-color: $active-color;
  }

  .subnav__link:hover {
    background-color: $hover-color;
  }

  @media (min-width: $nav-breakpoint) {

    .subnav__item.is-current {
      background-color: transparent;
    }

    .subnav__item.is-current .subnav__link {
      border-bottom: 4px solid $border-color;
    }

    .subnav__link:hover {
      background-color: transparent;
      border-bottom: 2px solid $border-color;
    }
  }
}

.theme--blue {

  @include subnav-theme($blue-700, $blue-600, $blue-500, $blue-300);

}


.theme--purple {

  @include subnav-theme($purple-700, $purple-600, $purple-500, $purple-300);

}


.theme--royalblue {

  @include subnav-theme($royalblue-700, $royalblue-600, $royalblue-500, $royalblue-300);

}


.theme--green {

  @include subnav-theme($green-700, $green-600, $green-500, $green-300);

}
