@import "../common/variables";

/**
 * mixin for btn--primary styles
 * @param iconSelector (default: .icon)
 */
@mixin btn-primary($iconSelector: ".icon") {
  background-color: $buttoncolor;
  color: #fff;

  &:hover,
  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: $buttonhovercolor;
  }

  &:active {
    background-color: $buttonactivecolor;
  }

  &[disabled] {
    background-color: $disabledcolor;
    color: rgba(255, 255, 255, 0.6);
  }

  & > #{$iconSelector},
  & > #{$iconSelector} * {
    fill: #fff;
  }

  &[disabled] > #{$iconSelector},
  &[disabled] > #{$iconSelector} * {
    fill: rgba(255, 255, 255, 0.6);
  }

  &.theme--dark > #{$iconSelector},
  &.theme--dark > #{$iconSelector} * {
    fill: #fff;
  }

  &.theme--dark[disabled] > #{$iconSelector},
  &.theme--dark[disabled] > #{$iconSelector} * {
    fill: rgba(255, 255, 255, 0.6);
  }
}

/**
 * mixin for btn--secondary styles
 * @param iconSelector (default: .icon)
 */
@mixin btn-secondary($iconSelector: ".icon") {
  background-color: transparent;
  color: $buttoncolor;

  &:hover,
  &:visited {
    color: $buttoncolor;
  }


  &:hover {
    border-color: $turquoise-700;
    background-color: $gray-130;
  }

  &:focus,
  &:active,
  &:focus:active {
    border-color: $buttonactivecolor;
  }

  &:active {
    color: $buttonactivecolor;
    background-color: $gray-130;
  }

  &[disabled] {
    color: $disabledcolor;
  }

  & > #{$iconSelector},
  & > #{$iconSelector } * {
    fill: $buttoncolor;
  }

  &[disabled] > #{$iconSelector},
  &[disabled] > #{$iconSelector } * {
    fill: $disabledcolor;
  }
}

/*
* mixin for btn--icon styles
*/
@mixin btn-icon() {
  padding-left: 0;
  padding-right: 0;
  width: 32px;
  text-align: center;
}
