@import "./button-common";
@import "./button-themes";
@import "./button-variants";

$includedButton: false !default;

@if ($includedButton == false) {

  .btn {

    @include btn-common();

    &[disabled] {
      // Do not include pointer-events: none into btn-common mixin
      // as it will break click tests in ngx-groundhog
      pointer-events: none;
    }

    & > .icon {

      @include btn-icon-element();
    }
  }

  /*
  * btn--primary styles
  */
  .btn--primary {

    @include btn-primary();
  }

  /*
  * iconOnly button styles
  */
  .btn--icon {

    @include btn-icon();
  }

  /*
  * buttonSecondary styles
  */
  .btn--secondary {

    @include btn-secondary();
  }

  /*
  * btn--primary--darktheme styles
  */
  .btn--primary.theme--dark,
  .theme--dark .btn--primary {

    @include btn-primary-theme-dark();
  }

  /*
  * btn--secondary--darktheme styles
  */
  .theme--dark .btn--secondary,
  .btn--secondary.theme--dark {

    @include btn-secondary-theme-dark();
  }

  $includedButton: true;
}
