@import "../common/colors";

@mixin btn-primary-variant-theme-dark($default, $hover, $active) {
  background-color: $default;
  border-color: #fff;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }
}

@mixin btn-secondary-variant-theme-dark($default, $hover, $active) {
  border-color: $default;
  color: #fff;

  &:hover {
    border-color: $hover;
  }

  &:active {
    border-color: $active;
  }
}

/*
* mixin for btn--primary-theme-dark styles
*/
@mixin btn-primary-theme-dark() {
  border-color: #fff;
  text-decoration: none;

  &:hover {
    border-color: #fff;
  }

  &:active {
    border-color: #fff;
  }

  &[disabled] {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
  }
}

/*
* mixin for btn--secondary-theme-dark styles
*/
@mixin btn-secondary-theme-dark() {
  border-color: #fff;
  text-decoration: none;
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &[disabled] {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.2);
  }

  & > .icon,
  & > .icon * {
    fill: #fff;
  }

  &[disabled] > .icon,
  &[disabled] > .icon * {
    fill: rgba(255, 255, 255, 0.6);
  }
}
