@import "../common/variables";


@mixin btn-primary-variant($default, $hover, $active) {
  background-color: $default;
  border-color: $default;

  &:hover {
    background-color: $hover;
    border-color: $hover;
  }

  &:active {
    background-color: $active;
    border-color: $active;
  }
}

@mixin btn-secondary-variant($default, $hover, $active, $iconSelector: ".icon") {
  color: $default;
  border-color: $default;

  &:visited {
    color: $default;
  }

  &:hover {
    color: $hover;
    border-color: $hover;
  }

  &:active {
    color: $active;
    border-color: $active;
  }

  & > #{$iconSelector},
  & > #{$iconSelector } * {
    fill: $default;
  }
}

/**
 * mixin for btn--primary styles
 * @param iconSelector (default: .icon)
 */
@mixin btn-primary($iconSelector: ".icon") {

  // setting default colors for primary btn
  @include btn-primary-variant($buttoncolor, $buttonhovercolor, $buttonactivecolor);

  color: #fff;

  &:hover,
  &:visited {
    color: #fff;
  }

  &[disabled] {
    background-color: $disabledcolor;
    color: rgba(255, 255, 255, 0.6);
  }

  & > #{$iconSelector},
  & > #{$iconSelector} * {
    fill: #fff;
  }

  &[disabled] > #{$iconSelector},
  &[disabled] > #{$iconSelector} * {
    fill: rgba(255, 255, 255, 0.6);
  }

  &.theme--dark > #{$iconSelector},
  &.theme--dark > #{$iconSelector} * {
    fill: #fff;
  }

  &.theme--dark[disabled] > #{$iconSelector},
  &.theme--dark[disabled] > #{$iconSelector} * {
    fill: rgba(255, 255, 255, 0.6);
  }
}

/**
 * mixin for btn--secondary styles
 * @param iconSelector (default: .icon)
 */
@mixin btn-secondary($iconSelector: ".icon") {

  // setting default colors for secondary btn
  @include btn-secondary-variant($buttoncolor, $buttonhovercolor, $buttonactivecolor);

  background-color: transparent;

  &:hover {
    background-color: $gray-130;
  }

  &:active {
    background-color: $gray-130;
  }

  &[disabled] {
    color: $disabledcolor;
  }

  &[disabled] > #{$iconSelector},
  &[disabled] > #{$iconSelector } * {
    fill: $disabledcolor;
  }
}

/*
* mixin for btn--icon styles
*/
@mixin btn-icon() {
  padding-left: 0;
  padding-right: 0;
  width: 32px;
  text-align: center;
}
