$white: #fff;
$black: #000;
$turquoise-100: #e1f7f9;
$turquoise-150: #cff3f6;
$turquoise-200: #aeebf0;
$turquoise-250: #94e5eb;
$turquoise-300: #74dee6;
$turquoise-400: #4fd5e0;
$turquoise-450: #2bc6d5;
$turquoise-500: #00b9cc;
$turquoise-550: #00adbf;
$turquoise-600: #00a1b2;
$turquoise-650: #00919e;
$turquoise-700: #00848e;
$turquoise-750: #007981;
$turquoise-800: #006d75;
$turquoise-850: #006268;
$turquoise-900: #005559;
$turquoise-950: #004c4e;
$green-100: #e8f9dc;
$green-120: #dff5d0;
$green-200: #d2efbe;
$green-300: #bee5a3;
$green-350: #addd8c;
$green-400: #9cd575;
$green-450: #8dcd5a;
$green-500: #7dc540;
$green-550: #6eb93b;
$green-600: #5ead35;
$green-650: #4fa230;
$green-700: #3f962a;
$green-750: #2f8a24;
$green-800: #1f7e1e;
$green-850: #107218;
$green-900: #006613;
$green-950: #005a0e;
$blue-100: #e0f4fc;
$blue-150: #d1effb;
$blue-200: #b4e5f9;
$blue-250: #92d9f8;
$blue-300: #74cff7;
$blue-350: #4dc2f5;
$blue-400: #2ab6f4;
$blue-500: #14a8f5;
$blue-550: #0a9ae8;
$blue-600: #008cdb;
$blue-650: #007ccb;
$blue-700: #006bba;
$blue-750: #005aaa;
$blue-800: #004999;
$blue-900: #003a8a;
$blue-950: #003376;
$blue-1000: #002c66;
$royalblue-100: #e6eaff;
$royalblue-150: #d8dfff;
$royalblue-170: #cad3ff;
$royalblue-200: #b9c5ff;
$royalblue-250: #a8b7ff;
$royalblue-300: #97a9ff;
$royalblue-350: #859aff;
$royalblue-400: #748cff;
$royalblue-450: #637dff;
$royalblue-500: #526cff;
$royalblue-550: #4c63eb;
$royalblue-600: #4556d7;
$royalblue-650: #3f4ac3;
$royalblue-700: #393db0;
$royalblue-800: #31339c;
$royalblue-850: #272488;
$royalblue-900: #231874;
$purple-50: #f2e6ff;
$purple-100: #eedbfd;
$purple-150: #e8cbfa;
$purple-200: #debbf3;
$purple-250: #d3abec;
$purple-300: #c396e0;
$purple-350: #b684d6;
$purple-400: #a972cc;
$purple-450: #9e64c2;
$purple-500: #9355b7;
$purple-550: #8847ac;
$purple-600: #7c38a1;
$purple-650: #6f3293;
$purple-700: #612c85;
$purple-800: #522273;
$purple-900: #471e64;
$purple-950: #3c1954;
$red-100: #ffeaea;
$red-120: #fedcdd;
$red-150: #fcced0;
$red-170: #fbbec0;
$red-200: #f9acaf;
$red-250: #f7979b;
$red-300: #f28289;
$red-350: #ed6871;
$red-400: #e74d59;
$red-450: #e23242;
$red-500: #dc172a;
$red-600: #c41425;
$red-700: #ab0c17;
$red-800: #93060e;
$red-900: #7a0004;
$red-950: #6a0005;
$red-1000: #590006;
$orange-100: #fff5e4;
$orange-120: #ffe9d1;
$orange-150: #ffdcbe;
$orange-200: #ffd0ab;
$orange-250: #ffb987;
$orange-300: #ffa86c;
$orange-350: #ff944d;
$orange-400: #fd8232;
$orange-450: #f6742a;
$orange-500: #ef651f;
$orange-550: #df5d1c;
$orange-600: #c95218;
$orange-700: #b64915;
$orange-750: #a04012;
$orange-800: #8d380f;
$orange-900: #742d0b;
$orange-950: #652708;
$yellow-100: #fff9d5;
$yellow-120: #fff5b7;
$yellow-200: #fff29a;
$yellow-300: #ffee7c;
$yellow-350: #ffe84f;
$yellow-400: #ffe11c;
$yellow-500: #f5d30f;
$yellow-600: #e6be00;
$yellow-650: #d8af00;
$yellow-700: #c9a000;
$yellow-750: #ba9200;
$yellow-800: #ab8300;
$yellow-850: #9d7400;
$yellow-900: #8e6500;
$yellow-920: #7c5700;
$yellow-950: #674600;
$yellow-1000: #593b00;
$shamrockgreen-100: #e1f7dc;
$shamrockgreen-120: #d8f5d6;
$shamrockgreen-150: #caefcb;
$shamrockgreen-200: #bbeac0;
$shamrockgreen-250: #ace4b5;
$shamrockgreen-300: #99dea8;
$shamrockgreen-350: #82d59a;
$shamrockgreen-400: #6bcb8b;
$shamrockgreen-500: #54c27d;
$shamrockgreen-550: #3fb976;
$shamrockgreen-600: #2ab06f;
$shamrockgreen-650: #15a768;
$shamrockgreen-700: #009e60;
$shamrockgreen-800: #048855;
$shamrockgreen-900: #087249;
$shamrockgreen-950: #086440;
$shamrockgreen-1000: #075636;
$gray-50: #fafafa;
$gray-100: #f8f8f8;
$gray-130: #f2f2f2;
$gray-160: #ececec;
$gray-200: #e6e6e6;
$gray-300: #ccc;
$gray-400: #b7b7b7;
$gray-460: #a0a0a0;
$gray-500: #898989;
$gray-600: #6d6d6d;
$gray-620: #606060;
$gray-640: #525252;
$gray-700: #454646;
$gray-800: #353535;
$gray-860: #242424;
$gray-900: #191919;

$yellowicon: #fd0;
$blueicon: #1496ff;
$greenicon: #7dc540;
$redicon: #dc172a;

$textcolor: $gray-700;
$focuscolor: $gray-300;
$linkcolor: $turquoise-600;
$buttoncolor: $turquoise-600;
$buttonhovercolor: $turquoise-700;
$buttonactivecolor: $turquoise-800;
$disabledcolor: $gray-300;

$logolime: #b4dc00;
