@import "../common/variables";

$includeLabel: false !default;

@if ($includeLabel == false) {

  .label {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding-bottom: 6px;
  }

  .label--progressbar {
    float: right;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    line-height: 1rem;
    color: $gray-900;
  }

  $includeLabel: true;

}
