@import "../common/variables";

$includeLabel: false !default;

@if ($includeLabel == false) {

  .label {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding-bottom: 6px;
  }

  $includeLabel: true;

}
