$columngap: 24px;

@mixin list-reset() {

  list-style: none;
  padding-left: 0;

  li:before {
    position: absolute;
    content: none;
    margin: 0;
    padding: 0;
    display: none;
    width: auto;
    height: auto;
    float: none;
  }
}

@mixin fluidSizes($property, $min, $max) {
  #{$property}: calc(#{$min + "px"} + (#{$max} - #{$min}) * (100vw - 360px) / (1920 - 360));
}

@mixin columnWidth($noOfColumns) {

  @for $i from 1 through $noOfColumns {

    .column--#{$i}-of-#{$noOfColumns} {
      max-width: calc(#{100% / $noOfColumns * $i} - #{$columngap});
      flex: 1 0 calc(#{100% / $noOfColumns * $i} - #{$columngap});
    }
  }
}

@mixin stepLevel($level) {

  $sel: ".step";

  /* step level 1 already handled in list.scss */
  @for $i from 2 through $level {

    /* reset nested counter on level $i */
    #{$sel} :not(.step) {
      counter-reset: step#{$i};
    }

    /* create new selector */
    $sel: selector-nest($sel, ".step");

    /* add CSS rules */
    #{$sel} {
      counter-increment: step#{$i};
    }

    #{$sel}:before {
      content: counter(step#{$i}) ". ";
    }
  }
}

@mixin apply-font-family($font: $mainfont) {
  font-family: $font;
}

@mixin apply-body-font-size($size: 14px) {
  font-size: $size;
  line-height: 1.6;
}
