$nav-primary-background: $gray-860;
$nav-secondary-background: $gray-700;

$nav-primary-current: $gray-700;
$nav-primary-hover: $gray-700;
$nav-secondary-hover: $gray-600;

$nav-current-mobile: $gray-600;

$nav-breakpoint: 980px !default;

$nav-height: 5.5rem;
$nav-line-height: 2.75rem;
$subnav-height: 2rem;

$nav-search-width: 200px !default;
$nav-search-results-width: 276px !default;
$nav-search-to-icon-breakpoint: 560px !default;
