@import "colors";

$mainfont: "BerninaSans", "Open Sans", sans-serif !default;
$screen-xs: 320px !default;
$screen-sm: 460px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
