@import "../common/variables";

$column-width: 180px;
$two-times-column-width: $column-width * 2;
$vertical-line-breakpoint: $two-times-column-width + 32px + 88px;


.footer {
  background-color: $gray-800;
  color: #fff;
  padding-bottom: 3rem;
  padding: 44px;
}

.footer__columns,
.footer__socials.footer__legal,
.footer__column__linklists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 2;
}

.footer__column {
  flex: 1 1 $column-width;
  margin-right: 3rem;
  margin-bottom: 2rem;
  max-width: $column-width;
}

.footer__column__group {
  flex: 0 1 $column-width;
}

.footer__column__group.footer__column__linklists {
  flex: 1 1 $column-width;
}

.footer__column.footer__column__separated {
  border: none;
  border-bottom: 2px solid $gray-500;
}

@media (min-width: $vertical-line-breakpoint) {

  .footer__column.footer__column__separated {
    border: none;
    border-right: 2px solid $gray-500;
  }
}

.footer__column h2 {
  color: $gray-500;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.footer__linklist {
  margin: 0;
}

.footer__socials {
  padding-top: 1rem;
  text-align: center;
  display: block;
}


.footer__socials .footer__legal {
  margin-top: 1.5rem;
}

.footer__linkitem {
  list-style: none;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.footer__linkitem a,
.footer__legallink {
  color: #fff;
}

.footer__legallink:hover {
  color: #fff;
}

.footer__socials--separated {
  border-top: 1px solid #fff;
}

.btn.btn--secondary.theme--dark.footer__sociallink {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  // padding-top: 1rem;
  fill: #fff;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: background-color 100ms ease-in-out, fill 100ms ease-in-out;
}

.btn.btn--secondary.theme--dark.footer__sociallink svg {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 24px;
  height: 24px;
}

.footer__sociallink:focus {
  box-shadow: 0 0 0 2px $focuscolor;
  outline: none;
}
