@import "../common/variables";
@import "../button/button";

$column-width: 180px !default;

.footer {
  background-color: $gray-800;
  color: #fff;
  padding: 44px;
  padding-bottom: 3rem;
  font-size: 0.8rem;
}

.footer__columns,
.footer__column__linklists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 2;
}

.footer__column {
  flex: 1 1 $column-width;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.footer__column__group {
  flex: 0 1 $column-width;
}

.footer__column__group.footer__column__linklists {
  flex: 1 1 $column-width;
}

.footer__column h2,
.footer__legal {
  color: $gray-500;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.footer__legal {
  text-align: center;
  margin-top: 1rem;
}

.footer__linklist {
  margin: 0;
}

.footer__socials {
  text-align: center;
}

.footer__linkitem {
  list-style: none;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.footer__linkitem a {
  color: #fff;
  text-decoration: none;
}

.footer__linkitem a:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.footer__linkitem a:hover {
  background-color: transparent;
}

.footer__sociallink.footer__sociallink {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  fill: #fff;
  margin: 1rem 0.5rem 0;
  transition: background-color 100ms ease-in-out, fill 100ms ease-in-out;
}

.footer__linklist--horizontal .footer__linkitem {
  display: inline-block;
}

.footer__linklist--horizontal .footer__linkitem + .footer__linkitem:before {
  content: " | ";
  color: #fff;
}
