@import "../common/variables";

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainfont;
  color: $gray-700;
  counter-reset: section;
}

a {
  text-decoration: none;
  color: $linkcolor;
  transition: color 100ms ease-out;
}

a:hover {
  color: $turquoise-700;
  text-decoration: underline;
}

.theme--dark a,
a.theme--dark {
  color: $white;
  text-decoration: underline;
}

.theme--dark a:hover,
a.theme--dark:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow: auto;
}
