@import "../common/variables";
@import "../common/mixins";

/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */


//------------------------------------\\
// SETTINGS
//------------------------------------\\
// What would you like your base font-size to be? Define in pixels; the library
// will convert measurements to the most appropriate units (rems or unitless).
$typecsset-base-font-size: 16px !default;
$typecsset-base-line-height: 24px !default;

/*------------------------------------*\
#SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
//
%typecsset-reset {
  margin: 0;
  padding: 0;
  margin-bottom: 0.8rem;
}

/*------------------------------------*\
#BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */

html {
  font-size: $typecsset-base-font-size; /* [1] */
  line-height: $typecsset-base-line-height / $typecsset-base-font-size; /* [2] */
}

/*------------------------------------*\
#HEADINGS
\*------------------------------------*/

h1,
h2,
h3 {

  @extend %typecsset-reset;
  font-weight: 300;
  line-height: 1.2;
}

h1 {

  @include fluidSizes(font-size, 32, 44); //blog
  //@include fluidSizes(font-size, 28, 48); -> for website header
}

h2 {

  @include fluidSizes(font-size, 24, 32); //blog
  line-height: 1.2;
}

h3 {

  @include fluidSizes(font-size, 20, 24);
}

h4,
h5,
h6 {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 2rem;
}

/*------------------------------------*\
#LISTS
\*------------------------------------*/

ul,
ol {

  @extend %typecsset-reset;
}

/*------------------------------------*\
#PARAGRAPHS
\*------------------------------------*/

p {

  @extend %typecsset-reset;
  line-height: 1.6; //blog 1.5
}
