@import "../common/variables";
$unordered-list-theme-color: $turquoise-500;

.list {
  padding-left: 0.25rem;

  li {
    position: relative;
    margin-top: 0.75rem;
  }

  li + li {
    margin-top: 1.25rem;
  }
}

ul.list,
ul.list ul,
ul.list ol ul,
ol.list ul,
ol.list ol ul {

  list-style: none;

  li:before {
    content: " ";
    display: inline-block;
    // background-color: inherit;
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
    margin-left: -1.25rem;
    margin-right: 0.5rem;
    margin-top: 0.4em;
    vertical-align: top;
    float: left;
  }
}


ol.list,
ul.list ol,
ol.list ul ol,
ul.list ol,
ul.list ul ol {

  li:before {
    content: none;
  }
}

ul.list ul,
ol.list ol ul ul {

  li:before {
    height: 2px;
    margin-top: 0.65em;
  }
}

.list ul ul {
  list-style: none;

  li:before {
    height: 1px;
    margin-top: 0.65em;
  }
}

.list ul ul,
.list ol ol,
.list ul ol,
.list ol ul {

  li {
    margin-top: 0;
  }
}

.list ol {

  li:before {
    content: none;
  }
}

@mixin unorderdlisttheme($color) {

  .list li:before {
    background-color: $color;
  }
}


.theme--blue {

  @include unorderdlisttheme($blue-600);
}

.theme--turquoise {

  @include unorderdlisttheme($turquoise-500);
}

.theme--purple {

  @include unorderdlisttheme($purple-600);
}

.theme--royalblue {

  @include unorderdlisttheme($royalblue-500);
}

.theme--green {

  @include unorderdlisttheme($green-500);
}


.step {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  counter-increment: b;
  margin-top: 0.75rem;
}

.step + .step {
  margin-top: 1.25rem;
}

.step:before {
  counter-increment: section;
  content: counter(section) ". ";
  position: absolute;
  text-align: right;
  width: 4rem;
  margin-left: -4.6rem;
  line-height: inherit;
}
