@import "../common/variables";

.island {
  padding: 16px;
  margin: 12px;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
  border-radius: 3px;
  overflow: auto;
}

@media(min-width: 700px) {

  .island--connected {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    flex: 1 0 50%;
    width: 50%;
  }
}

.layout__container .island {
  flex-basis: auto;
}

.layout.has-islands {
  padding: 12px;
}

.island .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
}

.island .content--aside--top {
  order: -1;
}

@media(min-width: 768px) {

  .island .content {
    flex-direction: row;
  }

  .island .content--main {
    width: 70%;
    flex: 0 0 70%;
  }

  .island .content--aside,
  .island .content--aside--top {
    width: 30%;
    flex: 0 0 30%;
    padding-left: 2rem;
    order: 0;
  }
}
